<h2>Hi {{username}}!</h2>

<p><strong>{{commit_author}}</strong> wants you to review a recent commit to <a href="{{repo_url}}">{{repo_name}}</a> on github.</p>

<p>Review it: <a href="{{commit_url}}">{{commit_url}}</a></p>


<h3>Commit Details</h3>
<table>
	<tr>
		<th style="text-align:right">commit id:</th>
		<td>{{commit_id}}</td>
	</tr>
	<tr>
		<th style="text-align:right">committed:</th>
		<td>{{commit_relative_time}} <span style="color: #aaa;font-style:italic">({{commit_timestamp}})</span></td>
	</tr>
	<tr>
		<th style="text-align:right">message:</th>
		<td>{{commit_message}}</td>
	</tr>	
</table>

<p style="font-size:10px;color:#ccc;font-style:italic">sent by #reviewthis</p>