Hi {{username}}!

{{commit_author}} wants you to review a recent commit to {{repo_name}} on github.

Review it: {{commit_url}}

Commit details
==============
	commit id:	{{commit_id}}
	committed:	{{commit_relative_time}} ({{commit_timestamp}})
	message: 	{{commit_message}}	

sent by #reviewthis